ul {
    padding-left: 5px;
}
li{
    list-style: none;

}

li::before{
   content: '⚡️'; 
}
a {
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: orange;
}
.homeworks > li::before{
    content: '✅';
}