* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  main {
    width: 400vh;
  }
  
  header {
    height: 80px;
    padding: 20px 0 15px;
    /* подключаем фон */
    background-image: url('imagebanner.jpeg');
    /* растягиваем вон по размеру контейнера */
    background-size: cover;
    /* позиционирование фона по центру */
    background-position: center;
    display: flex;
    justify-content: center;
  }
  
  nav {
    display: flex;
    align-items: end;
    gap: 40px;
  }
  
  nav span {
    color: white;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
  }
  
  .logo {
    height: 30px;
  }
  
  div {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  
  div > img {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
  }
  
  .oscar {
    height: 18px;
  }
  
  input {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }
  
  input:hover {
    opacity: 1;
  }
  
  div:hover .oscar-desc,
  div:hover .oscar,
  div:hover .play-desc,
  div:hover .play-logo {
    opacity: 1;
  }